Django==1.5.1
South==0.8.2
Werkzeug==0.9.4
argparse==1.2.1
boto==2.12.0
dj-database-url==0.2.2
dj-static==0.0.5
django-datetime-widget==0.6
django-registration==1.0
django-static==1.5.5
django-storages==1.1.8
django-toolbelt==0.0.1
docopt==0.6.1
greenlet==0.4.1
gunicorn==18.0
httplib2==0.8
oauth2==1.5.211
pycrypto==2.6.1
pytz==2013.9
requests==2.2.1
six==1.5.2
sphinx-me==0.2.1
static==0.4
twilio==3.6.5
versiontools==1.9.1
wsgiref==0.1.2
