{% extends 'nav.html' %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/template.css" rel="styleshee">
    <script type="text/JavaScript" src="{{STATIC_URL}}js/init.js"></script>
    {% endblock head %}
    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>


<!-- NAVBAR
================================================== -->
  <body>
    {% block content %}
      <section class="parallax" id="top" data-speed="6" data-type="background">
        <div class="container-fluid fill">
          <form class="form-signin" role="form" method="POST" action".">{% csrf_token %}
            <h2 class="form-signin-heading">Go Where?</h2>
            <input name="keyword" type="inquiry" class="form-control" placeholder="Go Here!" required autofocus>
            <h2 class="bubble">Where are you now?</h2>
            <input name="where" type="inquiry" class="form-control" placeholder="First St, Second St, City" required autofocus>
            <button class="btn btn-lg btn-primary btn-block" value="Submit" type="submit">Submit</button>
          </form>
        </div>
      </section>

      {% endblock content %}


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
